{% load static %}
{% load verbatim_converter %}

<!DOCTYPE html>
<html ng-app="quickstatsapp">
	<head>
		<script src="http://code.angularjs.org/angular-1.0.1.min.js"></script>
		<script src="http://code.angularjs.org/angular-resource-1.0.1.min.js"></script>
		<script src="{% static "js/quiz/app.js" %}"></script>
		<script src="{% static "js/quiz/quickstats.js" %}"></script>
	</head>
	
	<body>
		<div ng-controller="QuickStatsController">
			<form name="createform">{% csrf_token %}
				
				<label>{{ form.age.label }}</label>
				<input type="text" name="{{ form.age.html_name }}"
					id="id_{{ form.age.html_name }}"
					ng-model="quickstat.age" required>
				<span ng-show="createform.{{ form.age.html_name }}.$error.required" class="help-inline">
					Required
				</span>
				
				<br/>
				<br/>
				
				<label>{{ form.height_inches.label }}</label>
				<input type="text" name="{{ form.height_inches.html_name }}"
					id="id_{{ form.height_inches.html_name }}"
					ng-model="quickstat.height_inches" required>
				<span ng-show="createform.{{ form.height_inches.html_name }}.$error.required" class="help-inline">
					Required
				</span>
				
				<br/>
				<br/>
				
				<button type="submit" ng-click="createItem()">Create quick stat</button>
			</form>
		</div>
	</body>
</html>
