{% extends "base.html" %}

{% block title %}Publishers{% endblock %}

{% block body-content %}

<form method="post" action=".">{% csrf_token %}
	{{ form.as_p }}
	<br/>
	<input type="submit" value="Add" />
</form>

<table border="1">
	<thead>
		<th>Name</th>
		<th>Address</th>
		<th>City</th>
		<th>State / Province</th>
		<th>Country</th>
		<th>Wesbite</th>
	</thead>
	<tbody>
		{% for publisher in object_list %}
		<tr>
			<td>{{ publisher.name }}</td>
			<td>{{ publisher.address }}</td>
			<td>{{ publisher.city }}</td>
			<td>{{ publisher.state_province }}</td>
			<td>{{ publisher.country }}</td>
			<td>{{ publisher.website }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}
